*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 78px;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
}

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  /*width: 100%;*/
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      .search-form__label-text {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }

  &:focus-within {
    outline: 1px solid #fff;
    outline-offset: 1px;
  }
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;
  user-select: none;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border: 1px solid #fff;
  border-width: 1px 0;
  padding: 2.5px 14px 2.5px 0;
  outline: none;
  color: #fff 0.7;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: inherit;
  font-size: 18px;
  background-color: transparent;
  appearance: none;
}

.visually-hidden {
  position: absolute;
  border: none; /*?*/
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__label:has(input:checked) .search-form__pseudo-checkbox::before {
  content: "";
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #fff;
}

.button {
  width: 194px;
  height: 34px;
  border: solid 1px #fff;
  padding: 6px 73.5px;
  color: #fff;
  font-family: "Fira Sans Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
  }

  &:active {
    outline: none !important;
    text-decoration-line: none;
    background-color: #545050;
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: 2px;
  }
}

.content__details {
  width: 399px;
  height: 534px;
}

.title {
  max-width: 260px;
  /*height: 210px;*/
  margin: 0 139px 26px 0;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 399px;
  height: 298px;
  margin-bottom: 30px;
  overflow: auto;
  scrollbar-width: none;
}

.content__list-item {
  display: flex;
  flex-direction: column;
  min-height: 103px;
  margin-bottom: 30px;
}

.content__card-link {
  height: 100%;
  margin: 1px;
  outline-color: #fff;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-skip-ink: none;
  }

  &:active {
    text-decoration-line: none;
    background-color: #545050;
  }

  &:focus {
    outline: 1px solid #fff;
  }
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 100%;
  object-fit: cover;
}

.more-button {
  width: 100%;
  height: 34px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
