*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 133px 30px;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  /* height: 534px; */
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 78px;
}

.result__video-container {
  margin-bottom: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 386px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* width: 711px; */
  /* height: 54px; */
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  /* margin: 0 119px 5px 0; */
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  cursor: pointer;

  @media(hover:hover) {
    &:hover{
      .search-form__label-text {
        text-decoration: underline;
        text-underline-offset: 4px;
      }
    }
  }

  &:focus-within {
    outline: 1px solid #fff;
    outline-offset: 1px;
  }
}

.search-form__pseudo-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

input:focus {
  outline: none;
}

label:has(input:focus-visible) {
  border: 1px solid #fff;
}

.search-form__textfield {
  margin-right: 40px;
  border: none;
  outline: none;
  padding: 2.5px 14px 2.5px 0; 
  color: #fff 0.7;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;

}

.search-form__label:has(input:checked) .search-form__pseudo-checkbox::before {
  content: '';
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background-color: #fff;
}


.search-form__label-text {
  user-select: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  text-align: center;

 /* &:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
  }

  &:active {
    width: 15px;
    height: 15px;
    color: #fff;
  }
  
  &:focus {
    border: solid 1px #fff;
  }
  */
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.button {
  border: solid 1px #fff;
  padding: 6px 73.5px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  width: 194px;
  height: 34px;

  &:hover {
    text-decoration: underline;
    text-decoration-color: #fff;
  }

  &:active {
    background-color: #545050;
  }

  &:focus {
    outline: 1px solid #fff;
    outline-offset: 2px;
}
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.content__details {
  width: 399px;
  height: 534px;
}

.title {
  width: 260px;
  height: 210px;
  margin: 0 139px 26px 0;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  width: 399px;
  height: 298px;
  overflow: auto;
}

.content__list-item {
  margin-bottom: 30px; /*?*/
}

.li:first-child {
  margin-top: 0;
}

.li:last-child {
  margin-bottom: 0;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
  color: #fff;
}

.content__video-card-title {
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
}

.more-button {
  width: 100%;
  height: 34px;
  margin-top: 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
